.fixed-header {
	position: fixed;
	z-index: 11;
	width: 100%;
	left: 0;
	color: @white-text;
	transition: all 200ms;
	svg path {
		fill: @white-text;
	}
	@media (max-width: @bp) {
		// background-color: rgba(0,0,0,.3);
		// color: @grey-text !important;
		// svg path {
		// 	fill: @grey-text !important;
		// }
	}
	&[data-color='black'] {
		color: @black-text;
		svg path {
			fill: @black-text;
		}
		@media (max-width: @bp) {
			background-color: fadeout(@white-text, 60%);
			// border-bottom: 1px solid fadeout(@white-text, 60%);
		}
	}
	&[data-color='white'] {
		color: @white-text;
		svg path {
			fill: @white-text;
		}
		@media (max-width: @bp) {
			background-color: fadeout(@black-text, 60%);
			// border-bottom: 1px solid fadeout(@white-text, 60%);
		}
	}
	@media (max-width: @bp) {
		.menu-button {
			margin-right: -1rem;
		}
	}
}
.header-main-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: @side-margin-small/2 @side-margin-small;

	@media (max-width: @bp) {
		backdrop-filter: blur(3px);
	}
}

.header-logo-block {
	@pad: 0.5rem;
	height: 3rem;
	padding: @pad;
	align-items: center;
	display: flex;
	justify-content: flex-start;
	transition: all 300ms;
	&.fadeout {
		opacity: 0;
	}
	@media (max-width: @bp) {
		margin-left: -@pad;
	}
	svg {
		height: 100%;
		path {
			transition: all 300ms;
		}
	}
}

.fixed-menu {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all 300ms;
	transform: scale(0);
	opacity: 0;
	z-index: 10;
	background-color: @black-text;
	color: @white-text;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	&::after {
		content: '';
		top: 0;
		left: 0;
		display: block;
		right: 0;
		bottom: 0;
		position: absolute;
		z-index: 1;
		background-color: rgba(0, 0, 0, .9);
	}
	&.opened {
		transform: scale(1);
		opacity: 1;
		transform-origin: left center;
	}
	&.slided {
		transform: scaleY(1) scaleX(0.5) rotateY(50deg);
		transform-origin: left;
		opacity: 1;
		@media (max-width: @bp) {
			transform: translateX(-100%) !important;
		}
		&.fully-slided {
			transform: scaleY(1) scaleX(0.5) rotateY(150deg);
		}
		.menu {
			transform: scaleY(2) scaleX(5) translateY(-10%) rotateY(-50deg);
			li {
				opacity: 0;
				transform: scale(0);
				&.projects {
					opacity: 1;
					transform: scale(1);
					a {
						border-bottom-color: transparent;
					}
				}
			}
		}
	}
	.menu {
		transition: inherit;
		position: relative;
		z-index: 2;
	}
	li {
		margin: 1rem 0;
		font-size: 2em;
		a {
			text-decoration: none;
			border-bottom: 1px solid rgba(255, 255, 255, .3);
		}
	}
}
