section[data-slide='02'] {
	color: @black-text;
	.slide-background::before {
		background-color: rgba(255, 255, 255, 0.7);
	}
	.flex-scroll-helptext {
		color: rgba(0,0,0,.75);
		&::before, &::after {
			background-color: rgba(0,0,0,.75);
		}
	}
	.body-shift() {
		// top: 2.75em;
		// position: relative;
	}
	.head {
		// position: relative;
	}
	.body {
		margin-top: 2rem;
		@media (max-width: @bp) {
			margin-left: -@side-margin-small;
			margin-right: -@side-margin-small;
		}
		.body-shift();

		.item {
			flex-basis: 12em;

			margin-right: 4rem;
			@media (max-width: 1224px) {
				font-size: .9em;
				margin-right: 3rem;
			}
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-shrink: 0;

			&-text {
				.heading();
				font-size: 1.2em;
				font-weight: 700;

				@media (max-width: @bp) {
					font-size: 1em;
				}
			}
		}
		.item-img-block {
			img {
				width: 4rem;
				margin-bottom: -0.5rem;
			}
		}
	}
}
