.socio-networks {
	position: fixed;
	right: 0;
	bottom: @side-margin-small/2;
	right: @side-margin-small;
	z-index: 2;
	display: flex;
	flex-direction: column;
	@size: 2rem;
	width: 4rem;
	align-items: center;
	justify-content: center;
	path {
		transition: all 300ms;
	}
	&[data-color='black'] {
		color: @black-text;
		svg path {
			fill: @black-text;
		}
	}
	&[data-color='white'] {
		color: @white-text;
		svg path {
			fill: @white-text;
		}
	}
	a {
		display: block;
		width: @size;
		margin: @size/5;
		height: @size;
	}
}
