.button {
	background-color: @accent-red;
	color: @white-text;
	border: none;
	padding: 1rem;
	display: inline-block;
	text-decoration: none;
	font-style: italic;
	&-oblique {
		position: relative;
		padding-right: 4rem;
		.line {
		}
		.line::before,
		.line::after {
			content: '';
			@size: 10rem;
			@shift: @size/2/2;
			width: @size;
			display: block;
			transition: all 300ms;
			transform: rotate(-45deg) translateX(0);
			transform-origin: center center;
			position: absolute;
			border-top: 1px solid @accent-white;
			right: -@size/4;
			margin-top: -@size/10;
			margin-right: -@size/10;
			z-index: 4;
			top: @size/4;
		}
		&:hover {
			.text {
				transform: translateX(2%);
			}
			.line::before {
				transform: rotate(-45deg) translateX(-5%);
			}
			.line::after {
				transform: rotate(-45deg) translateX(5%);
			}
		}
		&.animated {
			.line::before {
				animation-duration: 500ms;
				animation-name: buttonLineTop;
			}
			.line::after {
				animation-duration: 500ms;
				animation-name: buttonLineBottom;
			}
		}
		&::after,
		&::before {
			// маска для скрытия текста
			content: '';
			@size: 2rem;
			width: @size;
			display: block;
			background-color: inherit;
			transform-origin: center center;
			position: absolute;
			right: 0.2rem;
			z-index: 2;
			top: 50%;
			height: 1rem;
		}
		&::after {
			z-index: 3;
			right: 0;
			margin-top: -0.5rem;
			width: 1rem;
		}
		&::before {
			transform: rotate(-45deg);
		}
	}
	.text {
		display: block;
		color: inherit;
		transition: all 300ms;
		will-change: transform;
		text-transform: uppercase;
	}
	&.animated .text {
		animation-duration: 500ms;
		animation-name: buttonTextMove;
		animation-delay: 000ms;
	}
}

.beads-line {
	position: relative;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	display: flex;
	.item {
		position: relative;
		padding-top: 0.75em;
		flex-basis: 13rem;
		margin-right: 2rem;
		&::before {
			position: absolute;
			@height: 0.3rem;
			content: '';
			height: @height;
			width: @height*5;
			top: -@height;
			background-color: @accent-grey;
		}
		span {
			display: block;
			color: @accent-grey;
			line-height: 1.4em;
			&.text {
				font-size: 0.65em;
			}
		}
	}
}
