<div class="screens">
<div class="screen-card-line">
  <div class="screen-card" data-width="300" data-height="250" data-x="flex-end" data-y="center"><span></span></div>
  <div class="screen-card" data-width="728" data-height="90" data-x="center" data-y="flex-start"><span></span></div>
  <div class="screen-card" data-width="120" data-height="600" data-x="flex-end" data-y="center"><span></span></div>
  <div class="screen-card" data-width="468" data-height="60" data-x="flex-start" data-y="flex-end"><span></span></div>
</div>
<div class="screen-card-line">
  <div class="screen-card" data-width="250" data-height="250" data-x="flex-end" data-y="center"><span></span></div>
  <div class="screen-card" data-width="300" data-height="600" data-x="flex-end" data-y="center"><span></span></div>
  <div class="screen-card" data-width="160" data-height="600" data-x="flex-end" data-y="center"><span></span></div>
</div>
<div class="screen-card-line">
  <div class="screen-card" data-width="260" data-height="340" data-x="flex-end" data-y="center"><span></span></div>
</div>
</div>
