<div class="top-info">
  <ul class="beads-line">
      <li class="item">
          <span class="head">HTML баннеры</span>
          <span class="text">(более 10 форматов)</span>
      </li>
      <li class="item">
          <span class="head">Rich media</span>
          <span class="text">(слайдеры)</span>
      </li>
  </ul>
</div>
