<div class="screen-card-line">
  <div class="screen-card animated" data-width="300" data-height="250" data-x="flex-end" data-y="center"><span></span></div>
  <div class="screen-card animated" data-width="468" data-height="60" data-x="flex-start" data-y="flex-end"><span></span></div>

	  <div class="screen-card animated screen-card--tgb" title="ТГБ">
	    <span class="red rectangle"></span>
	    <span class="strips">
				<i class="red strip"></i>
				<i class="red strip"></i>
				<i class="red strip"></i>
			</span>
	  </div>
	  <div class="screen-card animated screen-card--outstream" title="Outstream video">
	    <span class="top"></span>
	    <span class="grey"><i class="play"></i></span>
	    <span class="bottom"></span>
	  </div>
</div>
<div class="screen-card-line">
  <div class="screen-card animated" data-width="250" data-height="250" data-x="flex-end" data-y="center"><span></span></div>
  <div class="screen-card animated" data-width="160" data-height="600" data-x="flex-end" data-y="center"><span></span></div>
</div>
<div class="screen-card-line">
  <div class="screen-card animated" data-width="260" data-height="340" data-x="flex-end" data-y="center"><span></span></div>
</div>
