<div class="top-info">
  <ul class="beads-line">
      <li class="item">
          <span class="head">HTML баннеры</span>
          <span class="text">ограниченно вписанные в контент</span>
      </li>
      <li class="item">
          <span class="head">ТГБ</span>
          <span class="text">Тизеры</span>
      </li>
      <li class="item">
          <span class="head">Outstream video</span>
          <span class="text">In-read roll</span>
      </li>
  </ul>
</div>
