<div class="screen-card-line">
  <div class="screen-card animated screen-card--outstream" title="Outstream video">
    <span class="top"></span>
    <span class="grey"><i class="play"></i></span>
    <span class="bottom"></span>
  </div>
  <div class="screen-card animated screen-card--instream" title="Instream video">
    <span class="grey"><i class="play"></i></span>
  </div>
  <div class="screen-card animated screen-card--video-banner" title="Видео баннеры"><span class="grey"><i class="play"></i></span></div>
</div>
