<div class="top-info">
  <ul class="beads-line">
      <li class="item">
          <span class="head">Instream video</span>
          <span class="text">pre/mod/post-роллы</span>
      </li>
      <li class="item">
          <span class="head">Outstream video</span>
          <span class="text">In-read roll</span>
      </li>
      <li class="item">
          <span class="head">Видео-баннеры</span>
      </li>
  </ul>
</div>
