<ul class="horizontal-scrolling-list">
    <li class="horizontal-scrolling-item">
        <a href="#fourthSection" class="horizontal-scrolling-item-link horizontal-scrolling-item-link_active" data-link="desktop">Desktop & Mobile</a>
    </li>
    <li class="horizontal-scrolling-item">
        <a href="#fourthSection/2" class="horizontal-scrolling-item-link" data-link="native">Native</a>
    </li>
    <li class="horizontal-scrolling-item">
        <a href="#fourthSection/1" class="horizontal-scrolling-item-link" data-link="video">Video</a>
    </li>
</ul>
