<ul class="sub-menu-list exo">
    <li class="sub-menu-item">
        <a data-menuanchor="slide04-1" href="#slide04-1" class="sub-menu-link">Desktop & Mobile</a>
    </li>
    <li class="sub-menu-item">
        <a data-menuanchor="slide04-2" href="#slide04-2" class="sub-menu-link">Native</a>
    </li>
    <li class="sub-menu-item">
        <a data-menuanchor="slide04-3" href="#slide04-3" class="sub-menu-link">Video</a>
    </li>
</ul>
