<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&amp;subset=cyrillic" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>

		<div class="preloader">
		    <div class="preloader7">
		        <span></span>
		    </div>
		</div>
    <% include app/tmpl/header.ejs %>
    <% include app/tmpl/nav.ejs %>
		<div id="fullpage">
			<div class="section"><% include app/tmpl/slide1.ejs %></div>
			<div class="section"><% include app/tmpl/slide2.ejs %></div>
			<div class="section"><% include app/tmpl/slide3.ejs %></div>
			<div class="section"><% include app/tmpl/slide4.ejs %></div>
			<div class="section"><% include app/tmpl/slide5.ejs %></div>
			<div class="section"><% include app/tmpl/slide6.ejs %></div>
			<div class="section"><% include app/tmpl/slide7.ejs %></div>
			<div class="section"><% include app/tmpl/slide8.ejs %></div>
		</div>
    <% include app/tmpl/soc.ejs %>
  </body>
</html>
