<header class="fixed-header">
    <div class="header-main-block">
        <div class="header-logo-block" style="max-width: 20rem;">
            <% include misc/logo.svg.ejs %>
        </div>
        <button type="button" class="reset menu-button">
            <div class="header-toggle">
                <span></span>
            </div>
        </button>
    </div>
</header>
