<div class="fixed-menu" style="background-image: url(assets/menu-bg.jpg);">
	<ul class="menu">
		<li><a href="#slide01">Главная</a></li>
		<li><a href="#slide02">О нас</a></li>
		<li class="projects"><a href="#/projects">Проекты</a></li>
		<li><a href="#slide08">Контакты</a></li>
	</ul>
</div>
