<section class="media-section-v" data-paralax-cover-js>
<div class="screen-card-holder">
	<div class="screen-card" data-width="300" data-height="250" data-x="flex-end" data-y="center"><span></span></div>
	<div class="screen-card" data-width="728" data-height="90" data-x="center" data-y="flex-start"><span></span></div>
	<div class="screen-card" data-width="120" data-height="600" data-x="flex-end" data-y="center"><span></span></div>
	<div class="screen-card" data-width="468" data-height="60" data-x="flex-start" data-y="flex-end"><span></span></div>
	<div class="screen-card" data-width="250" data-height="250" data-x="flex-end" data-y="center"><span></span></div>
	<div class="screen-card" data-width="300" data-height="600" data-x="flex-end" data-y="center"><span></span></div>
	<div class="screen-card" data-width="160" data-height="600" data-x="flex-end" data-y="center"><span></span></div>
	<div class="screen-card" data-width="260" data-height="340" data-x="flex-end" data-y="center"><span></span></div>
</div>
		<div class="main-block">
				<div class="content">
						<div class="head">
								<p class="title">MediaSniper</p>
								<p class="introtext">Since 2013</p>
						</div>
						<div class="body">
								<p class="longtitle">Programmatic powerhouse<span>.</span></p>
						</div>
						<div class="video-block">
								<a href="" class="video-link">
										<span class="video-text">СМОТРЕТЬ ВИДЕО</span>
								</a>
						</div>
						<div class="description-block">
								<p class="description">
										Система автоматизированной закупки медийной рекламы,
										оптимизирующаяся на достижение заданных KPI
										в режиме реального времени.
								</p>
						</div>
				</div>
				<div class="scroll">
						<a href="#secondSection">
								<div>
										<img src="image/scroll.png" alt="">
								</div>
								<span>Scroll</span>
						</a>
				</div>
		</div>
</section>
