<% var email = 'info@mediasniper.ru'; %>
<% var phone = '+7 495 724 83 56'; %>
<section class="media-section-v" data-slide="08">
	<div class="mockup" style="background-image: url('assets/mockup/08.png')"></div>
	<div class="slide-background" style="background-image: url('assets/8-section.jpg')"></div>
		<div class="main-block">
			<div class="content">
				<div class="form-block">
					<!-- <div class="header-back" style="background-image: url('assets/feather.png')"> -->
							<h2 class="title red-dot">Контакты</h2>
					<!-- </div> -->
					<div class="contact-us">
						<p><a href="mailto:<%-email%>"><%-email%></a></p>
						<p>
							<a href="https://www.youtube.com/watch?v=SxbTtFRN5cE"><%-phone%></a>
						</p>
						<a href="mailto:<%-email%>" class="button button-oblique">
								<span class="text">Написать нам</span>
								<span class="line"></span>
						</a>
					</div>
				</div>
				<div class="text-block">
						<div class="subtitle exo red-dot">Programmatic<br> powerhouse</div>
				</div>
			</div>
		</div>
	</div>
</section>
