<section class="media-section-v" data-slide='02' data-paralax-cover-js>
	<div class="slide-background" style="background-image: url('assets/second-section.jpg')"></div>
	<div class="main-block">
				<div class="content">
						<div class="head">
								<h2 class="title red-dot">Создан,<br/> чтобы ваша<br /> реклама была прибыльной</h2>
						</div>
						<div class="body">
							<div class="scroll-wrapper">
							<ul class="flex-scroll">
								<li class="item animated animate-delay">
										<div class="item-img-block">
												<img src="assets/dsp.png" alt="">
										</div>
										<p class="item-text">
												4+ млрд запросов
												на показ рекламы
												в день
										</p>
										<h2 class="h2 item-introtext">DSP</h2>
								</li>
								<li class="item animated animate-delay-2">
										<div class="item-img-block">
												<img src="assets/diamond.svg" alt="">
										</div>
										<p class="item-text">
												Более 250 млн пользовательских
												профилей
										</p>
										<h2 class="h2 item-introtext">DMP</h2>
								</li>
								<li class="item animated animate-delay-3">
										<div class="item-img-block">
												<a href="#slide06" class="button button-oblique">
													<span class="text">Подробнее</span>
													<span class="line"></span>
												</a>
										</div>
										<p class="item-text">
												Self-service
												для рекламных
												агентств
										</p>
										<h2 class="h2 item-introtext">ATD</h2>
								</li>
							</ul>
							<span class="flex-scroll-helptext">Scroll</span>
							</div>
					</div>
				</div>
		</div>
</section>
