<section class="media-section-v" data-slide="03" data-paralax-cover-js>
	<div class="mockup" style="background-image: url('assets/mockup/3.png')"></div>
	<div class="slide-background" style="background-image: url('assets/third-section.jpg')"></div>
	<div class="main-block">
				<div class="content">
						<div class="head">
								<h2 class="title red-dot">Награды</h2>
						</div>
						<div class="body">
							<ul class="list owl-carousel owl-theme exo">
								<style>
								.cup .img {
									background-image: url('assets/cup.svg');
								}
								</style>
									<li class="item">
											<div class="cup">
												<span class="cup-place">1</span>
												<div class="img"></div>
											</div>
											<div class="year exo">2016</div>
											<p class="text exo">
													PROGRAM&shy;MATIC  MEDIA BUYING
											</p>
									</li>
									<li class="item">
											<div class="cup">
												<span class="cup-place">2</span>
												<div class="img"></div>
											</div>
											<div class="year exo">2016</div>
											<p class="text exo">
													RE&shy;TARGET&shy;ING
											</p>
									</li>
									<li class="item">
											<div class="cup">
												<span class="cup-place">1</span>
												<div class="img"></div>
											</div>
											<div class="year exo">2017</div>
											<p class="text exo">
													INDEPEN&shy;DENT DSP
											</p>
									</li>
									<li class="item">
											<div class="cup">
												<span class="cup-place">1</span>
												<div class="img"></div>
											</div>
											<div class="year exo">2017</div>
											<p class="text exo">
													MOBILE DSP
											</p>
									</li>
									<li class="item">
											<div class="cup">
												<span class="cup-place">4</span>
												<div class="img"></div>
											</div>
											<div class="year exo">2017</div>
											<p class="text exo">
													RE&shy;TARGET&shy;ING
											</p>
									</li>
									<li class="item">
											<div class="cup">
												<span class="cup-place">1</span>
												<div class="img"></div>
											</div>
											<div class="year exo">2017</div>
											<p class="text exo">
													DMP
											</p>
									</li>
							</ul>
						</div>
						<div class="footer">
								<div class="footer-info">
										<span class="footer-info-text">*Рейтинг качества<br />Technology Index по оценке</span>
										<span class="footer-info-img">
												<img src="assets/third-logo.png" alt="">
										</span>
								</div>
						</div>
				</div>
		</div>
</section>
