<section class="media-section-v" data-paralax-cover-js>
		<div class="main-block">
				<div class="content">
						<div class="info">
								<p class="title">
									 Наши <br>  клиенты<span>.</span>
								</p>
								<ul class="list owl-carousel owl-theme">
										<li class="item">
												<div>
														<img src="image/client-1.png" alt="">
												</div>
												<div>
														<img src="image/client-2.png" alt="">
												</div>
										</li>
										<li class="item">
												<div>
														<img src="image/client-1.png" alt="">
												</div>
												<div>
														<img src="image/client-2.png" alt="">
												</div>
										</li>
										<li class="item">
												<div>
														<img src="image/client-1.png" alt="">
												</div>
												<div>
														<img src="image/client-1.png" alt="">
												</div>
										</li>
										<li class="item">
												<div>
														<img src="image/client-2.png" alt="">
												</div>
												<div>
														<img src="image/client-1.png" alt="">
												</div>
										</li>
										<li class="item">
												<div>
														<img src="image/client-1.png" alt="">
												</div>
												<div>
														<img src="image/client-2.png" alt="">
												</div>
										</li>
										<li class="item">
												<div>
														<img src="image/client-2.png" alt="">
												</div>
												<div>
														<img src="image/client-1.png" alt="">
												</div>
										</li>
										<li class="item">
												<div>
														<img src="image/client-2.png" alt="">
												</div>
												<div>
														<img src="image/client-1.png" alt="">
												</div>
										</li>
										<li class="item">
												<div>
														<img src="image/client-2.png" alt="">
												</div>
												<div>
														<img src="image/client-1.png" alt="">
												</div>
										</li>
										<li class="item">
												<div>
														<img src="image/client-1.png" alt="">
												</div>
												<div>
														<img src="image/client-2.png" alt="">
												</div>
										</li>
										<li class="item">
												<div>
														<img src="image/client-2.png" alt="">
												</div>
												<div>
														<img src="image/client-1.png" alt="">
												</div>
										</li>
										<li class="item">
												<div>
														<img src="image/client-1.png" alt="">
												</div>
												<div>
														<img src="image/client-1.png" alt="">
												</div>
										</li>
								</ul>
								<a href="" class="link">наши кейсы</a>
						</div>
				</div>
		</div>
</section>
