<section class="media-section-v" data-slide="4">
	<div class="mockup" style="background-image: url('assets/mockup/3.png')"></div>
	<div class="slide-background"></div>
	<% include slide4/1-top-info.ejs %>
	<% include slide4/1-screens.ejs %>
	<div class="main-block main-block-alt">
		<div class="content-alt">
			<% include slide4/1-header.ejs %>
			<% include slide4/toggler.ejs %>
		</div>
	</div>
	<div class="horizontal-scrolling-paroller">
			<img src="image/desk.png" alt="">
	</div>
</section>
