<section class="media-section-v" data-paralax-cover-js>
		<div class="main-block">
				<div class="content">
						<div class="info">
								<p class="title animated">
										Всеми этими технологиями можем управлять для вас мы.
								</p>
								<p class="text animated animate-delay">
										А для тех, кто любит интерфейсы –
										мы разработали <span>
										<span>Agency Trading Desk.
										</span>
								</span>
								</p>
						</div>
						<div class="list-block">
								<ul class="list animated animate-delay-2">
										<li class="item">
												— Простой интерфейс
										</li>
										<li class="item">
												— Запуск кампании за 5 минут
										</li>
										<li class="item">
												— Ручная и автоматическая оптимизация размещений
										</li>
										<li class="item">
												— Статистика риал-тайм
										</li>
										<li class="item">
												— Бесплатное обучение работе с интерфейсом ATD
										</li>
										<li class="item">
												— Алгоритмическая закупка рекламы на различных каналах и форматах
										</li>
										<li class="item">
												— Техническая поддержка 24/7
										</li>
										<li class="item">
												— Широкий спектр встроенных метрик для объективной оценки
												эффективности programmatic-кампании.
										</li>
										<li class="item">
												— Поддержка Белых/Черных списков рекламодателей
										</li>
										<li class="item">
												— «Человечность» трафика – фильтрация ботов по критериям
												естественной активности интернет-пользователей
										</li>
										<li class="item">
												— Возможность выгрузки статистики по различным таргетингам и срезам
										</li>
										<li class="item">
												— Отсутствие затрат на "аккаунтский" сервис со стороны подрядчика
										</li>
								</ul>
						</div>
				</div>
		</div>
</section>
