<section class="media-section-v" data-paralax-cover-js>
		<div class="main-block">
				<div class="content">
						<div class="form-block">
								<p class="title">заголовок<span>.</span></p>
								<form action="" class="form">
										<label class="label">
												<input type="text" name="name" placeholder="Имя" class="input">
										</label>
										<label class="label">
												<input type="text" name="phone" placeholder="Телефон" class="input">
										</label>
										<label class="label">
												<input type="text" name="mail" placeholder="Email" class="input">
										</label>
										<label class="label">
												<textarea name="message" placeholder="Сообщение" class="textarea"></textarea>
										</label>
								</form>
								<div class="form-send-block">
										<a href="" class="form-send">отправить</a>
								</div>
						</div>
						<div class="text-block">
								<p class="text">
										Всеми этими технологиями можем управлять для вас мы.
								</p>
						</div>
				</div>
		</div>
</section>
