<section class="media-section-v" data-paralax-cover-js>
		<div class="main-block">
				<div class="content">
						<div class="info">
								<p class="title">
										Награды<span>.</span>
								</p>
								<ul class="list owl-carousel owl-theme">
										<li class="item">
												<img src="image/2016-1.png" alt="" class="img">
												<p class="year">2016</p>
												<p class="text">
														PROGRAMMATIC  MEDIA BUYING
												</p>
										</li>
										<li class="item">
												<img src="image/2016-2.png" alt="" class="img">
												<p class="year">2016</p>
												<p class="text">
														RETARGETING
												</p>
										</li>
										<li class="item">
												<img src="image/2017-1.png" alt="" class="img">
												<p class="year">2017</p>
												<p class="text">
														INDEPENDENT DSP
												</p>
										</li>
										<li class="item">
												<img src="image/2017-1.png" alt="" class="img">
												<p class="year">2017</p>
												<p class="text">
														MOBILE DSP
												</p>
										</li>
										<li class="item">
												<img src="image/2017-1.png" alt="" class="img">
												<p class="year">2017</p>
												<p class="text">
														RETARGETING
												</p>
										</li>
										<li class="item">
												<img src="image/2017-4.png" alt="" class="img">
												<p class="year">2017</p>
												<p class="text">
														DMP
												</p>
										</li>
								</ul>
								<div class="footer">
										<div class="footer-info">
												<span class="footer-info-text">
														<span>*Рейтинг качества</span>
														<span>Technology Index по оценке</span>
												</span>
												<span class="footer-info-img">
														<img src="image/third-logo.png" alt="">
												</span>
										</div>
								</div>
						</div>
				</div>
		</div>
</section>
