<section class="media-section-v" data-slide="05">
	<div class="slide-background" style="background-image: url('assets/5-section.jpg')"></div>
		<div class="main-block">
				<div class="content">
						<div class="header-back" style="background-image: url('assets/horse.png')">
								<h2 class="title red-dot">Инструменты</h2>
						</div>
						<ul class="list">
							<% data.tools.forEach(function(tool) { %>
								<li class="item">
									<span class="text">#<%=tool.name%></span>
									<span class="text-hover">#<%=tool.description%></span>
								</li>
							<% }); %>
						</ul>
				</div>
		</div>
</section>
