<section class="media-section-v fourth-section-v">
		<div class="fourth-section-v-horizontal-scrolling fourth-section-v-horizontal-scrolling_active" data-block="desktop">
				<ul class="horizontal-scrolling-toplist">
						<li class="horizontal-scrolling-top-item">
								<p class="horizontal-scrolling-toptitle">HTML баннеры</p>
								<span class="horizontal-scrolling-toptext">(более 10 форматов)</span>
						</li>
						<li class="horizontal-scrolling-top-item">
								<p class="horizontal-scrolling-toptitle">Rich media</p>
								<span class="horizontal-scrolling-toptext">(слайдеры)</span>
						</li>
				</ul>
				<div class="horizontal-scrolling-main-block">
						<div class="horizontal-scrolling-info">
								<div class="horizontal-scrolling-info-content">
										<div class="horizontal-scrolling-info-block">
												<div class="horizontal-scrolling-info-title">
														<p>Единая
														платформа
														для управления всеми форматами<span>.</span></p>
												</div>
												<div class="horizontal-scrolling-nav">
														<ul class="horizontal-scrolling-list">
																<li class="horizontal-scrolling-item">
																		<a href="#fourthSection" class="horizontal-scrolling-item-link horizontal-scrolling-item-link_active" data-link="desktop">Desktop & Mobile</a>
																</li>
																<li class="horizontal-scrolling-item">
																		<a href="#fourthSection/2" class="horizontal-scrolling-item-link" data-link="native">Native</a>
																</li>
																<li class="horizontal-scrolling-item">
																		<a href="#fourthSection/1" class="horizontal-scrolling-item-link" data-link="video">Video</a>
																</li>
														</ul>
												</div>
										</div>
										<div class="horizontal-scrolling-info-variant-block">
												<ul class="horizontal-scrolling-info-variant-list">
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/1-platform.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">300 x 250</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/2-platform.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">728 x 90</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/3-platform.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">120 x 600</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/4-platform.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">468 x 60</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/5-platform.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">250 x 250</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/6-platform.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">300 x 600</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/7-platform.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">160 x 600</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/8-platform.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">260 x 340</p>
														</li>
												</ul>
										</div>
								</div>
						</div>
				</div>
				<div class="horizontal-scrolling-paroller">
						<img src="image/desk.png" alt="">
				</div>
		</div>
		<div class="fourth-section-v-horizontal-scrolling" data-block="video">
				<ul class="horizontal-scrolling-toplist">
						<li class="horizontal-scrolling-top-item">
								<p class="horizontal-scrolling-toptitle">Instream video </p>
								<span class="horizontal-scrolling-toptext">pre/mid/post-роллы</span>
						</li>
						<li class="horizontal-scrolling-top-item">
								<p class="horizontal-scrolling-toptitle">Outstream video</p>
								<span class="horizontal-scrolling-toptext">In-read roll</span>
						</li>
						<li class="horizontal-scrolling-top-item">
								<p class="horizontal-scrolling-toptitle">Видео баннеры</p>
						</li>
				</ul>
				<div class="horizontal-scrolling-main-block">
						<div class="horizontal-scrolling-info">
								<div class="horizontal-scrolling-info-content">
										<div class="horizontal-scrolling-info-block">
												<div class="horizontal-scrolling-info-title">
														<p>Единая
																платформа
																для управления форматами<span>.</span></p>
												</div>
												<div class="horizontal-scrolling-nav">
														<ul class="horizontal-scrolling-list">
																<li class="horizontal-scrolling-item">
																		<a href="#fourthSection" class="horizontal-scrolling-item-link"  data-link="desktop">Desktop & Mobile</a>
																</li>
																<li class="horizontal-scrolling-item">
																		<a href="#fourthSection/2" class="horizontal-scrolling-item-link" data-link="native">Native</a>
																</li>
																<li class="horizontal-scrolling-item">
																		<a href="#fourthSection/1" class="horizontal-scrolling-item-link horizontal-scrolling-item-link_active" data-link="video">Video</a>
																</li>
														</ul>
												</div>
										</div>
										<div class="horizontal-scrolling-info-variant-block">
												<ul class="horizontal-scrolling-info-variant-list">
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/1-video.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">Instream video</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/2-video.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">Outstream video</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/3-video.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">Видео баннеры</p>
														</li>
												</ul>
										</div>
								</div>
						</div>
				</div>
				<div class="horizontal-scrolling-paroller">
						<img src="image/video.png" alt="">
				</div>
		</div>
		<div class="fourth-section-v-horizontal-scrolling" data-block="native">
				<ul class="horizontal-scrolling-toplist">
						<li class="horizontal-scrolling-top-item">
								<p class="horizontal-scrolling-toptitle">HTML баннеры</p>
								<span class="horizontal-scrolling-toptext">органично вписанные
									в контент</span>
						</li>
						<li class="horizontal-scrolling-top-item">
								<p class="horizontal-scrolling-toptitle">ТГБ</p>
								<span class="horizontal-scrolling-toptext">Тизеры</span>
						</li>
						<li class="horizontal-scrolling-top-item">
								<p class="horizontal-scrolling-toptitle">Outstream video</p>
								<span class="horizontal-scrolling-toptext">In-read roll</span>
						</li>
				</ul>
				<div class="horizontal-scrolling-main-block">
						<div class="horizontal-scrolling-info">
								<div class="horizontal-scrolling-info-content">
										<div class="horizontal-scrolling-info-block">
												<div class="horizontal-scrolling-info-title">
														<p>Единая
																платформа
																для управления всеми форматами<span>.</span></p>
												</div>
												<div class="horizontal-scrolling-nav">
														<ul class="horizontal-scrolling-list">
																<li class="horizontal-scrolling-item">
																		<a href="#fourthSection" class="horizontal-scrolling-item-link" data-link="desktop">Desktop & Mobile</a>
																</li>
																<li class="horizontal-scrolling-item">
																		<a href="#fourthSection/2" class="horizontal-scrolling-item-link horizontal-scrolling-item-link_active" data-link="native">Native</a>
																</li>
																<li class="horizontal-scrolling-item">
																		<a href="#fourthSection/1" class="horizontal-scrolling-item-link" data-link="video">Video</a>
																</li>
														</ul>
												</div>
										</div>
										<div class="horizontal-scrolling-info-variant-block">
												<ul class="horizontal-scrolling-info-variant-list">
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/1-platform.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">300 x 250</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/2-platform.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">728 x 90</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/3-platform.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">120 x 600</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/1-native.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">ТГБ</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/2-video.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">Outstream video</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/2-native.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">250 x 250</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/6-platform.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">300 x 600</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/7-platform.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">160 x 600</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/8-platform.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">260 x 340</p>
														</li>
														<li class="horizontal-scrolling-info-variant-item">
																<img src="image/3-native.png" alt="">
																<p class="horizontal-scrolling-info-variant-text">468 x 60</p>
														</li>
												</ul>
										</div>
								</div>
						</div>
				</div>
				<div class="horizontal-scrolling-paroller">
						<img src="image/native.png" alt="">
				</div>
		</div>
</section>
