<section class="media-section-v" data-slide="04-1">
	<div class="mockup" style="background-image: url('assets/mockup/4-1.png')"></div>
	<div class="slide-background"><div class="slide-background-word animated" style="background-image: url('assets/desktop.png')"></div></div>
	<div class="main-block main-block-alt">
		<div class="content-alt">
			<div class="only-mobile mobile-header">
				<% include slide4/header.ejs %>
			</div>
		</div>
	</div>
	<% include slide4/1-top-info.ejs %>
	<div class="screens">
		<% include slide4/1-screens.ejs %>
		<div class="screens-more">...и другие</div>
	</div>
</section>
