<section class="media-section-v" data-slide="04-3">
	<div class="slide-background"><div class="slide-background-word animated"  style="background-image: url('assets/video.png')"></div></div>
	<% include slide4/3-top-info.ejs %>
	<% include slide4/toggler.ejs %>
	<div class="screens">
		<% include slide4/3-screens.ejs %>
	</div>
	<div class="main-block main-block-alt">
		<div class="content-alt">
		</div>
	</div>
</section>
