<section class="media-section-v" data-slide="06">
	<div class="mockup" style="background-image: url('assets/mockup/06.png')"></div>
	<div class="slide-background" style="background-image: url('assets/6-section.jpg')"></div>
		<div class="main-block">
				<div class="content">
					<div class="columns">
						<div class="headers-block">
								<h3 class="title animated">
										Всеми этими технологиями можем управлять для вас мы.
								</h3>
								<h3 class="text animated animate-delay">
										А для тех, кто любит интерфейсы –
										мы разработали <span>
										<span class="white-strip red-text">Agency Trading Desk.
										</span>
								</span>
							</h3>
						</div>
						<div class="list-block">
								<ul class="list animated">
										<li class="item">
												Простой интерфейс
										</li>
										<li class="item">
												Запуск кампании за 5 минут
										</li>
										<li class="item">
												Ручная и автоматическая оптимизация размещений
										</li>
										<li class="item">
												Статистика риал-тайм
										</li>
										<li class="item">
												Бесплатное обучение работе с интерфейсом ATD
										</li>
										<li class="item">
												Техническая поддержка 24/7
										</li>
										<li class="item">
												Широкий спектр встроенных метрик для объективной оценки
												эффективности programmatic-кампании.
										</li>
										<li class="item">
												Поддержка Белых/Черных списков рекламодателей
										</li>
										<li class="item">
												«Человечность» трафика – фильтрация ботов по критериям
												естественной активности интернет-пользователей
										</li>
										<li class="item">
												Возможность выгрузки статистики по различным таргетингам и срезам
										</li>
								</ul>
						</div>
					</div>
				</div>
		</div>
</section>
