<section class="media-section-v" data-slide="07">
	<div class="mockup" style="background-image: url('assets/mockup/07.png')"></div>
	<div class="slide-background" style="background-image: url('assets/7-section.jpg')"></div>
		<div class="main-block">
				<div class="content">
					<h2 class="title red-dot">Наши<br>клиенты</h2>
					<div class="clients">
						<% include slide7/clients.ejs %>
					</div>
					<div class="footer">
						<a href="" class="button button-oblique">
								<span class="text">Наши кейсы</span>
								<span class="line"></span>
						</a>
					</div>
				</div>
		</div>
</section>
