<section class="media-section-v" data-slide="1" data-paralax-cover-js>
	<div class="mockup" style="background-image: url('assets/mockup/1.png')"></div>
	<div class="slide-background" style="background-image: url('assets/first-section.jpg')"></div>
		<div class="main-block">
				<div class="content">
						<div class="head">
								<h1 class="title">MediaSniper</h1>
								<span class="introtext">Since 2013</span>
						</div>
						<div class="body">
								<h2 class="title red-dot">Programmatic<br />powerhouse</h2>
						</div>
						<div class="video-block">
								<a href="" class="button button-oblique video-link">
										<span class="text">Смотреть видео</span>
										<span class="line"></span>
								</a>
						</div>
						<div class="description-block">
								<p class="description">
										Система автоматизированной закупки медийной рекламы,<br />
										оптимизирующаяся на достижение заданных KPI<br />
										в режиме реального времени.
								</p>
						</div>
				</div>
				<div class="scroll">
						<a href="#secondSection">
								<div>
										<img src="assets/scroll.png" alt="">
								</div>
								<span>Scroll</span>
						</a>
				</div>
		</div>
</section>
