<div class="video-fixed">
	<div class="video-header">
		<button type="button" data-state="close" class="menu-button reset">
				<div class="header-toggle">
						<span></span>
				</div>
		</button>
	</div>
	<div id="video-container"></div>
</div>
