<style>
.projects-page {
	/* loading fix */
	opacity: 0;
}
</style>

<div class="projects-page">
	<div class="wrapper">
		<ul>
			<% data.projects.forEach(function(project) { %>
				<% include project.ejs %>
			<% }); %>
		</ul>
	</div>
</div>
